{% extends "layout.html" %}

{% block body %}
    <div class="body-page-element">
        <h1 class="header-element">
            Hello, admin
        </h1>
        <h2 class="header-element">
            Add a ship
        </h2>
        <div class="main-element">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.name.label }}<br>
                    {{ form.name(size=45) }}<br>
                    {% for error in form.name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.human_group.label }}<br>
                    {{ form.human_group(size=45) }}<br>
                    {% for error in form.human_group.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.aliens_group.label }}<br>
                    {{ form.aliens_group(size=45) }}<br>
                    {% for error in form.aliens_group.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.coordinate.label }}<br>
                    {{ form.coordinate(size=45) }}<br>
                    {% for error in form.coordinate.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>

{% endblock %}
