{% extends "layout.html" %}

{% block body %}
    <div class="body-page-element">
        <h1 class="header-element">
            Hello, admin
        </h1>
        <h2 class="header-element">
            Destroy a ship, make a crash and kill everyone on the ship.
        </h2>
        <div class="main-element">
            {% for ship in ships %}
                <span>{{ ship }};</span>
            {% endfor %}
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.ship.label }}<br>
                    {{ form.ship(size=45) }}<br>
                    {% for error in form.ship.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>

{% endblock %}
