{% extends "layout.html" %}

{% block body %}
    <div class="body-page-element">
        <h1 class="header-element">
            Hello, admin
        </h1>
        <h2 class="header-element">
            Show all steals by months
        </h2>
        <div class="main-element">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>{{ form.submit() }}</p>
            </form>
            <h3>
                {% for line in res %}
                    <span>{{ line }}</span>  </br>
                {% endfor %}
            </h3>
        </div>
    </div>

{% endblock %}
