{% extends "layout.html" %}

{% block body %}
    <div class="body-page-element">
        <h1 class="header-element">
            Hello, {{ user.username }}
        </h1>
        <h2 class="header-element">
            Steal a human on the ship
        </h2>
        <div class="main-element">get_all_humans_without_ship
            <form action="" method="post" novalidate>
                <p>Humans without a ship:</p>
                <p>
                    {% for human in get_all_humans_without_ship %}
                        <span>{{ human }};</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.human.label }}<br>
                    {{ form.human(size=45) }}<br>
                    {% for error in form.human.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>

{% endblock %}
