{% extends "layout.html" %}

{% block body %}
    <div class="body-page-element">
        <h1 class="header-element">
            Hello, {{ user.username }}
        </h1>
        <h2 class="header-element">
            Transport a human from one ship to another
        </h2>
        <div class="main-element">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>Destination ship:</p>
                <p>
                    {% for ship in get_all_ships %}
                        <span>{{ ship }};</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.destination.label }}<br>
                    {{ form.destination(size=45) }}<br>
                    {% for error in form.destination.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>Humans on a ship:</p>
                <p>
                    {% for human in get_all_humans_on_ship %}
                        <span>{{ human }};</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.human.label }}<br>
                    {{ form.human(size=45) }}<br>
                    {% for error in form.human.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>

{% endblock %}
