{% extends "layout.html" %}

{% block body %}
<div class="body-page-element">
    <h1 class="header-element">
        Hello, {{ user.username }}
    </h1>
    <h2 class="header-element">
        Chose an action
    </h2>
    <div class="main-element">
        <div class="dropdown">
            <button class="dropbtn">Chose an action</button>
            <div class="dropdown-content">
              <a href="{{ url_for("human_actions_kill") }}">Kill</a>
              <a href="{{ url_for("human_actions_escape") }}">Escape</a>
            </div>
          </div>
    </div>
    <h2 class="header-element">
        View logs
    </h2>
    <div class="main-element">
        <div class="dropdown">
            <button class="dropbtn">View logs</button>
            <div class="dropdown-content">
                <a href="{{ url_for("human_logs_ships") }}">Ships</a>
                <a href="{{ url_for("human_logs_steal") }}">Steal</a>
                <a href="{{ url_for("human_logs_kill") }}">Kill</a>
                <a href="{{ url_for("human_logs_steal_and_kill") }}">Steal and Kill</a>
                <a href="{{ url_for("human_logs_experiment") }}">Experiment</a>
            </div>
          </div>
    </div>
</div>

{% endblock %}
