<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <title>I WANT TO BELIEVE</title>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<div class="body-page-element">
    <header><h1 class='header-element' style="display:
                        flex; flex-direction:row;
                        justify-content: space-between;">
        I want to believe
        <a style="display: inline-block;
            height: 100%;
            width: 150px;"
           href="{{ url_for("logout") }}">logout</a></h1></header>
    <div class="main-element">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                <hr>
            {% endif %}
        {% endwith %}
        {% block body %}
        {% endblock %}
    </div>

</div>
</body>
</html>
