{% extends "layout.html" %}

{% block body %}
    <div class="body-page-element">
        <h1 class="header-element">
            Hello, {{ user.username }}
        </h1>
        <h2 class="header-element">
            Chose an alien on your ship to kill!
        </h2>
        <div class="main-element">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>Aliens on ship:</p>
                <p>
                    {% for alien in aliens_on_ship %}
                        <span>{{ alien }};</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.alien.label }}<br>
                    {{ form.alien(size=32) }}<br>
                    {% for error in form.alien.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>

{% endblock %}
